$secondtextcolor: #808080;
.tel {
  background-color: #f4f4f4;
  padding: 10px;
  & .container {
    display: flex;
    justify-content: flex-end;
    & a {
      text-decoration: none;
      color: #aaa;
      font-size: 12px;
  
      & :hover {
       border-bottom: 1px solid $secondtextcolor;
      }
    }
  }
}
@media screen and (max-width: 768px) {
    .tel {
        padding: 8px;
    } 
}
